<%- include('partials/header', {title :'Telvin Varfley About Page'}) %> 

<body class="flex h-full flex-col bg-zinc-50 dark:bg-black" data-new-gr-c-s-check-loaded="14.1101.0" data-gr-ext-installed="">
  
        <div class="fixed inset-0 flex justify-center sm:px-8">
            <div class="flex w-full max-w-7xl lg:px-8">
                <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
            </div>
        </div>
                <div class="relative">
    <%- include('partials/navbar') %> 
   

    <main>
        <div class="sm:px-8 mt-16 sm:mt-32">
            <div class="mx-auto max-w-7xl lg:px-8">
                <div class="relative px-4 sm:px-8 lg:px-12">
                    <div class="mx-auto max-w-2xl lg:max-w-5xl">
                        <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
                            <div class="lg:pl-20">
                                <div class="max-w-xs px-2.5 lg:max-w-none hero ">
                                    <img alt="" sizes="(min-width: 1024px) 32rem, 20rem" src="images/tee.png" width="800" height="800" decoding="async" data-nimg="1" class="aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800" loading="lazy" style="color: transparent;">
                                </div>
                            </div>
                            <div class="lg:order-first lg:row-span-2">
                                <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">I’m Telvin Varfley I live in Acrra, Ghana, where I design and develop the future.</h1>
                                <div class="mt-6 space-y-7 text-base text-zinc-600 dark:text-zinc-400">
                                    <p>My passion for development and design was ignited when i was in my second year of university when my mom bought me a new laptop for studies. Since then i read articles, watched videos and taught myself how to code.I’ve loved making things for as long as I can remember, and built my first applicartion a month after starting my self-taught journey. I also learned how to type super fast thanks to continuous practice and learning.</p>
                                    <p>In my journey 7 months after i first started i managed to land a job with a fintech company named Edgeitsol and there i had a senior developer i learned a lot from and pushed myself to be the best developer and designer i can be.</p>
                                    <p>The only thing I loved as much as design and development is swimming . When I was younger, I used to compete through my school's competition and mostly won because i was the fastest in my class and i am anticipating teaching others how to swim on my days off.</p>
                                    <p>Today, I Freelance, teach web development and work as a software engineer at Empowered to Excel in IT , I enjoy the process and everything that comes along with it.  </p>
                                        <p> And incase you would like to hire me for a project you may have you can reach me by using the button below</p></div>
                                        <a class=" w-60 inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-teal-600 font-medium text-white hover:bg-teal-100 active:bg-teal-600 active:text-zinc-900/60 dark:bg-teal-800/50 dark:text-zinc-300 dark:hover:bg-teal-600 dark:hover:text-zinc-50 dark:active:bg-teal-600/50 dark:active:text-zinc-50/70 group mt-6 btn" href="/contact"><span> Hire me</span> </a>
                                </div>
                                
                                <div class="lg:pl-20">
                                    <ul role="list">
                                        
                                        <li class="flex text-sm  text-zinc-800 transition hover:text-teal-500 dark:text-zinc-200 dark:hover:text-teal-500">
                                              <a class="group -m-1 p-1" aria-label="Follow on Github" href="https://github.com/HakzTV">
                                                <img src="images/github.png" alt="Github Logo">
                                              </a>
                                                <span class="ml-4">Check out my projects</span>
                                            </a>
                                        </li>
                                        <li class="mt-4 flex text-sm  text-zinc-800 transition hover:text-teal-500 dark:text-zinc-200 dark:hover:text-teal-500">
                                            <a class="group -m-1 p-1" aria-label="Follow me on instagram @hakztv" href="https://instagram.com/HakzTv">
                        <img src="images/instagram.png" alt="Instagram Logo">
                      
                    </a>
                    <span class="ml-4">Follow on Instagram</span>
                                        </li>
                                        <li class="mt-4 flex text-sm  text-zinc-800 transition hover:text-teal-500 dark:text-zinc-200 dark:hover:text-teal-500">
                                            <a class="group -m-1 p-1" aria-label="Subscribe to my youtube channel" href="https://www.youtube.com/@hakzhub">
                                                <img src="images/youtube.png" alt="YoutubeLogo">
                                              
                                            </a>
                                            <span class="ml-4">Subcribe to my Youtube channel</span>
                                        </li>
                                        <li class="mt-4 flex text-sm  text-zinc-800 transition hover:text-teal-500 dark:text-zinc-200 dark:hover:text-teal-500">
                                            <a class="group -m-1 p-1" aria-label="Follow on LinkedIn" href="https://linkedin.com">
                                                <img src="/images/linkedin.png" alt="LinkedIn logo">
                                            </a>
                                            <span class="ml-4">Follow on LinkedIn</span>
                                        </li>
                                        <li class="mt-8 border-t border-zinc-100 pt-8 dark:border-zinc-700/40 flex"><a class="group flex text-sm font-medium text-zinc-800 transition hover:text-teal-500 dark:text-zinc-200 dark:hover:text-teal-500" href="mailto:telvinvarfley@gmail.com">
                                            <svg viewBox="0 0 24 24" aria-hidden="true" class="h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-teal-500">
                                                <path fill-rule="evenodd" d="M6 5a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H6Zm.245 2.187a.75.75 0 0 0-.99 1.126l6.25 5.5a.75.75 0 0 0 .99 0l6.25-5.5a.75.75 0 0 0-.99-1.126L12 12.251 6.245 7.187Z"></path>
                                            </svg>
                                            <span class="ml-4">telvinvarfley@gmail.com</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %> 
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.132/dist/typed.umd.js"></script> 
<script src="/js/script.js"></script>
<script type="text/javascript" src="/js/vanilla-tilt.js"></script>
<script type="text/javascript">
	VanillaTilt.init(document.querySelector(".hero"), {
		max: 25,
		speed: 400
	});
	

</script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" ></script>
</body>
</html>

