<%- include('partials/header', {title :'Telvin Varfley Homepage'}) %> 
<body class="flex h-full flex-col bg-zinc-50 dark:bg-black">
  <div class="fixed inset-0 flex justify-center sm:px-8">
    <div class="flex w-full max-w-7xl lg:px-8">
      <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20">
      </div>
    </div>
    </div>
    <div class="relative">
      <header class="pointer-events-none relative z-50 flex 
      flex-col navi" style="height:var(--header-height);margin-bottom:var(--header-mb)">
        <div class="order-last mt-[calc(theme(spacing.16)-theme(spacing.3))]"></div>
        <div class="sm:px-8 top-0 order-last -mb-3 pt-3" style="position:var(--header-position)">
          <div class="mx-auto max-w-7xl lg:px-8">
            <div class="relative px-4 sm:px-8 lg:px-12">
              <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <div class="top-[var(--avatar-top,theme(spacing.3))] w-full" style="position:var(--header-inner-position)">
                  <div class="relative">
                    <div class="absolute left-0 top-3 origin-left transition-opacity h-10 w-10 rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10" style="opacity:var(--avatar-border-opacity, 0);transform:var(--avatar-border-transform)"></div><a aria-label="Home" class="block h-16 w-16 origin-left pointer-events-auto" style="transform:var(--avatar-image-transform)" href="/">
                      <img alt="Tee" src="/images/tee.png" sizes="4rem" width="512" height="512" decoding="async"  class="rounded-full bg-zinc-100 object-cover dark:bg-zinc-800 h-16 w-16" style="color:transparent">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="top-0 z-10 h-16 pt-6" style="position:var(--header-position)">
          <div class="sm:px-8 top-[var(--header-top,theme(spacing.6))] w-full" style="position:var(--header-inner-position)">
            <div class="mx-auto max-w-7xl lg:px-8">
              <div class="relative px-4 sm:px-8 lg:px-12">
                <div class="mx-auto max-w-2xl lg:max-w-5xl">
                  <div class="relative flex gap-4">
                    <div class="flex flex-1"></div>
                <div class="flex flex-1 justify-end md:justify-center">
                  <div class="pointer-events-auto md:hidden" >
                  <button class="group flex items-center rounded-full bg-white/90 px-4 py-2 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10 dark:hover:ring-white/20 btnState" type="button" aria-expanded="false" >Menu
                    <svg viewBox="0 0 8 6" aria-hidden="true" class="ml-3 h-auto w-2 stroke-zinc-500 group-hover:stroke-zinc-700 dark:group-hover:stroke-zinc-400">
                      <path d="M1.75 1.75 4 4.25l2.25-2.5" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
      
                      </path>
                    </svg>
                  </button>
                  <div class="hiddens">
                    <div class="fixed inset-0 z-50 bg-zinc-800/40 backdrop-blur-sm dark:bg-black/80 opacity-100" id="headlessui-popover-overlay-:r40:" aria-hidden="true" data-headlessui-state="open"></div>
      
                    <div class="fixed inset-x-4 top-8 z-50 origin-top rounded-3xl bg-white p-8 ring-1 ring-zinc-900/5 dark:bg-zinc-900 dark:ring-zinc-800 opacity-100 scale-100 fadeIn" id="headlessui-popover-panel-:r41:" tabindex="-1" data-headlessui-state="open">
                      <div class="flex flex-row-reverse items-center justify-between">
                        <button aria-label="Close menu"  class="-m-1 p-1 btnState" type="button" data-headlessui-state="open" tabindex="0">
                          <svg viewBox="0 0 24 24" aria-hidden="true" class="h-6 w-6 text-zinc-500 dark:text-zinc-400">
                            <path d="m17.25 6.75-10.5 10.5M6.75 6.75l10.5 10.5" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                          </svg>
                        </button>
                            <h2 class="text-sm font-medium text-zinc-600 dark:text-zinc-400">Navigation</h2>
                          </div>
                            <nav class="mt-6">
                              <ul class="-my-2 divide-y divide-zinc-100 text-base text-zinc-800 dark:divide-zinc-100/5 dark:text-zinc-300">
                                <li>
                                  <a class="block py-2" data-headlessui-state="open" href="/about">About</a></li>
                                  <li>
                                    <a class="block py-2" data-headlessui-state="open" href="/articles">Articles</a>
                                  </li>
                                  <li>
                                    <a class="block py-2" data-headlessui-state="open" href="/projects">Projects</a>
                                  </li>
                                  <!-- <li>
                                    <a class="block py-2" data-headlessui-state="open" href="/speaking">Speaking</a>
                                  </li> -->
                                  <li>
                                    <a class="block py-2" data-headlessui-state="open" href="/uses">Uses</a>
                                  </li>
                                </ul>
                              </nav>
                            </div>
                  </div>
                </div>
                <nav class="pointer-events-auto hidden md:block">
                  <ul class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10"><li><a class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" href="/about">About</a>
                  </li>
                  <li>
                    <a class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" href="/articles">Articles</a>
                  </li>
                  <li>
                    <a class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" href="/projects">Projects</a>
                  </li>
                  <!-- <li>
                    <a class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" href="/speaking">Speaking</a>
                  </li> -->
                  <li>
                    <a class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" href="/uses">Uses</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="flex justify-end md:flex-1">
              <div class="pointer-events-auto">
                <button type="button" aria-label="Toggle dark mode" class="group rounded-full bg-white/90 px-3 py-2 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur transition dark:bg-zinc-800/90 dark:ring-white/10 dark:hover:ring-white/20">
                  <!-- <svg viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" class="h-6 w-6 fill-zinc-100 stroke-zinc-500 transition group-hover:fill-zinc-200 group-hover:stroke-zinc-700 dark:hidden [@media(prefers-color-scheme:dark)]:fill-teal-50 [@media(prefers-color-scheme:dark)]:stroke-teal-500 [@media(prefers-color-scheme:dark)]:group-hover:fill-teal-50 [@media(prefers-color-scheme:dark)]:group-hover:stroke-teal-600">
                    <path d="M8 12.25A4.25 4.25 0 0 1 12.25 8v0a4.25 4.25 0 0 1 4.25 4.25v0a4.25 4.25 0 0 1-4.25 4.25v0A4.25 4.25 0 0 1 8 12.25v0Z"></path> 
                    <path d="M12.25 3v1.5M21.5 12.25H20M18.791 18.791l-1.06-1.06M18.791 5.709l-1.06 1.06M12.25 20v1.5M4.5 12.25H3M6.77 6.77 5.709 5.709M6.77 17.73l-1.061 1.061" fill="none"></path>
                  </svg> -->
                  <img class="cursor-pointer moon" src="/images/moon.png" alt="The moon">
                  <img class="cursor-pointer sun" src="/images/sun.png" alt="The sun">
      
                  <!-- <svg viewBox="0 0 24 24" aria-hidden="true" class="hidden h-6 w-6 fill-zinc-700 stroke-zinc-500 transition dark:block [@media(prefers-color-scheme:dark)]:group-hover:stroke-zinc-400 [@media_not_(prefers-color-scheme:dark)]:fill-teal-400/10 [@media_not_(prefers-color-scheme:dark)]:stroke-teal-500">
                    <path d="M17.25 16.22a6.937 6.937 0 0 1-9.47-9.47 7.451 7.451 0 1 0 9.47 9.47ZM12.75 7C17 7 17 2.75 17 2.75S17 7 21.25 7C17 7 17 11.25 17 11.25S17 7 12.75 7Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg> -->
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
      </header>
      <div style="height: var(--content-offset);"></div>
      <main>
        <div class="sm:px-8 mt-9">
          <div class="mx-auto max-w-7xl lg:px-8">
            <div class="relative px-4 sm:px-8 lg:px-12">
              <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <div class="max-w-2xl">
                  <div class="container">
<h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">I'm a <span class="auto-type"></span> </h1>
<p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">I’m Telvin , a software engineer and entrepreneur based in Accra, Ghana. I enjoy making videos on youtube to teach people how to code. </p>
                  <div class="mt-6 flex gap-6">
                    <!-- <a class="group -m-1 p-1" aria-label="Follow on Twitter" href="https://twitter.com">
                     <img src="images/twitter.png" alt="Twitter Logo">
                    </a> -->
                    <a class="group -m-1 p-1" aria-label="Follow on LinkedIn" href="https://linkedin.com">
                      <img src="/images/linkedin.png" alt="LinkedIn logo">
                      <a class="group -m-1 p-1" aria-label="Follow on GitHub" href="https://github.com">
                        <img src="images/github.png" alt="Github Logo">
                     </a>
                    <a class="group -m-1 p-1" aria-label="Follow on Instagram" href="https://instagram.com/HakzTv">
                     <img src="images/instagram.png" alt="Instagram Logo">
                    </a>
                    <a class="group -m-1 p-1" aria-label="Subscribe to my youtube channel" href="https://instagram.com/HakzTv">
                      <img src="images/youtube.png" alt="Instagram Logo">
                     </a>
                 
                  </a>
                </div>
                  </div>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-16 sm:mt-20"><div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
        <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl rotate-2">
        <img alt="" sizes="(min-width: 640px) 18rem, 11rem" src="images/set-up.jpg" width="3744" height="5616" decoding="async"  class="absolute inset-0 h-full w-full object-cover" loading="lazy" style="color:transparent"></div>
      
      <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl -rotate-2">
        <img alt="" sizes="(min-width: 640px) 18rem, 11rem" src="images/books.jpg" width="3936" height="2624" decoding="async"  class="absolute inset-0 h-full w-full object-cover" loading="lazy" style="color:transparent"></div>

      <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl rotate-2">
        <img alt="" sizes="(min-width: 640px) 18rem, 11rem" src="images/ui-ux.jpg" width="5760" height="3840" decoding="async"  class="absolute inset-0 h-full w-full object-cover" loading="lazy" style="color:transparent"></div>
        <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl rotate-2">
          <img alt="" sizes="(min-width: 640px) 18rem, 11rem" src="/images/mocking-up.jpg" width="2400" height="3000" decoding="async"  class="absolute inset-0 h-full w-full object-cover" loading="lazy" style="color:transparent">
        </div>
        <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl -rotate-2"><img alt="" sizes="(min-width: 640px) 18rem, 11rem" src="images/laptop.jpg" width="4240" height="2384" decoding="async"  class="absolute inset-0 h-full w-full object-cover" loading="lazy" style="color:transparent">
        </div>
    </div>
  </div>
  <div class="sm:px-8 mt-24 md:mt-28">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">
          <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
            <div class="flex flex-col gap-16">
              <!-- Article one -->
              <article class="group relative flex flex-col items-start ">
                <div class="h-fit w-fit max-w-sm overflow-hidden rounded-xl bg-white shadow-md duration-200 hover:scale-105 hover:shadow-xl">
                  <img class="h-fit w-fit object-cover" src="/images/nasa.png" alt="">
                </div>
                <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                  <div class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                  <a href="/articles/crafting-a-design-system-for-a-multiplanetary-future">
                    <span class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                    <span class="relative z-10">Crafting a design system for a multiplanetary future</span></a></h2>
                    <time class="relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5" datetime="2023-09-05">
                      <span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
                        <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
                      </span>September 5, 2023</time>
                      <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">Here we cover the fundamentals of web development and also try to disect and see how best we can proceed/</p>
                      <div aria-hidden="true" class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500">Read article
                        <svg viewBox="0 0 16 16" fill="none" aria-hidden="true" class="ml-1 h-4 w-4 stroke-current">
                          <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        </div>
              </article>
              <article class="group relative flex flex-col items-start ">
                <div class="h-fit w-fit max-w-sm overflow-hidden rounded-xl bg-white shadow-md duration-200 hover:scale-105 hover:shadow-xl">
                  <img class="h-fit w-fit object-cover" src="/images/nasa.png" alt="">
                </div>
                <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                  <div class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                  <a href="/articles/crafting-a-design-system-for-a-multiplanetary-future">
                    <span class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                    <span class="relative z-10">Crafting a design system for a multiplanetary future</span></a></h2>
                    <time class="relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5" datetime="2023-09-05">
                      <span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
                        <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
                      </span>September 5, 2023</time>
                      <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">Here we cover the fundamentals of web development and also try to disect and see how best we can proceed/</p>
                      <div aria-hidden="true" class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500">Read article
                        <svg viewBox="0 0 16 16" fill="none" aria-hidden="true" class="ml-1 h-4 w-4 stroke-current">
                          <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        </div>
              </article>
              <article class="group relative flex flex-col items-start ">
                <div class="h-fit w-fit max-w-sm overflow-hidden rounded-xl bg-white shadow-md duration-200 hover:scale-105 hover:shadow-xl">
                  <img class="h-fit w-fit object-cover" src="/images/nasa.png" alt="">
                </div>
                <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                  <div class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                  <a href="/articles/crafting-a-design-system-for-a-multiplanetary-future">
                    <span class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                    <span class="relative z-10">Crafting a design system for a multiplanetary future</span></a></h2>
                    <time class="relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5" datetime="2023-09-05">
                      <span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
                        <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
                      </span>September 5, 2023</time>
                      <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">Here we cover the fundamentals of web development and also try to disect and see how best we can proceed/</p>
                      <div aria-hidden="true" class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500">Read article
                        <svg viewBox="0 0 16 16" fill="none" aria-hidden="true" class="ml-1 h-4 w-4 stroke-current">
                          <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        </div>
              </article>
                  </div>

                            <!-- Newsletter form -->
                            <div class="space-y-10 lg:pl-16 xl:pl-24">
                              <form action="/thank-you" class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
                                <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
                                  <svg viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" class="h-6 w-6 flex-none">
                                    <path d="M2.75 7.75a3 3 0 0 1 3-3h12.5a3 3 0 0 1 3 3v8.5a3 3 0 0 1-3 3H5.75a3 3 0 0 1-3-3v-8.5Z" class="fill-zinc-100 stroke-zinc-400 dark:fill-zinc-100/10 dark:stroke-zinc-500"></path>
                                    <path d="m4 6 6.024 5.479a2.915 2.915 0 0 0 3.952 0L20 6" class="stroke-zinc-400 dark:stroke-zinc-500"></path></svg>
                                    <span class="ml-3">Stay up to date</span>
                                  </h2>
                                  <p class="mt-2 text-sm text-zinc-600 dark:text-zinc-400">Get notified first when I publish something new.</p>
                                  <div class="mt-6 flex">
                                    <input type="email" placeholder="Email address" aria-label="Email address" required="" class="min-w-0 flex-auto appearance-none rounded-md border border-zinc-900/10 bg-white px-3 py-[calc(theme(spacing.2)-1px)] shadow-md shadow-zinc-800/5 placeholder:text-zinc-400 focus:border-teal-500 focus:outline-none focus:ring-4 focus:ring-teal-500/10 dark:border-zinc-700 dark:bg-zinc-700/[0.15] dark:text-zinc-200 dark:placeholder:text-zinc-500 dark:focus:border-teal-400 dark:focus:ring-teal-400/10 sm:text-sm">
                                    <button class="inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-zinc-800 font-semibold text-zinc-100 hover:bg-zinc-700 active:bg-zinc-800 active:text-zinc-100/70 dark:bg-zinc-700 dark:hover:bg-zinc-600 dark:active:bg-zinc-700 dark:active:text-zinc-100/70 ml-4 flex-none" type="submit">Join</button>
                                  </div>
                                </form>
                                <div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
                                  <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
                                    <svg viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" class="h-6 w-6 flex-none">
                                      <path d="M2.75 9.75a3 3 0 0 1 3-3h12.5a3 3 0 0 1 3 3v8.5a3 3 0 0 1-3 3H5.75a3 3 0 0 1-3-3v-8.5Z" class="fill-zinc-100 stroke-zinc-400 dark:fill-zinc-100/10 dark:stroke-zinc-500"></path>
                                      <path d="M3 14.25h6.249c.484 0 .952-.002 1.316.319l.777.682a.996.996 0 0 0 1.316 0l.777-.682c.364-.32.832-.319 1.316-.319H21M8.75 6.5V4.75a2 2 0 0 1 2-2h2.5a2 2 0 0 1 2 2V6.5" class="stroke-zinc-400 dark:stroke-zinc-500"></path>
                                    </svg>
                                    <span class="ml-3">Work</span>
                                  </h2>
                                  <ol class="mt-6 space-y-4">
                                    <li class="flex gap-4">
                                      <div class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                                        <img alt="ETEIT Company logo" src="/images/eteit.jpeg" width="32" height="32" decoding="async"  class="h-7 w-7 rounded-full" loading="lazy" style="color:transparent"></div><dl class="flex flex-auto flex-wrap gap-x-2">
                                          <dt class="sr-only">Company</dt>
                                          <dd class="w-full flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100">ETEIT(Empowered to Excel in IT)</dd>
                                          <dt class="sr-only">Role</dt>
                                          <dd class="text-xs text-zinc-500 dark:text-zinc-400">Software engineer</dd>
                                          <dt class="sr-only">Date</dt><dd class="ml-auto text-xs text-zinc-400 dark:text-zinc-500" aria-label="2019 until Present"><time datetime="2023">January, 2023 </time>
                                             <span aria-hidden="true">—</span> 
                                             <time datetime="2023">Present</time>
                                            </dd>
                                          </dl>
                                        </li>
                                        <li class="flex gap-4">
                                          <div class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"><img alt="" src="/images/demeeyea.png" width="28" height="28" decoding="async"  class="h-7 w-7" loading="lazy" style="color:transparent"></div>
                                          <dl class="flex flex-auto flex-wrap gap-x-2">
                                            <dt class="sr-only">Company</dt>
                                            <dd class="w-full flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100">Unique Delivery Express Ghana</dd><dt class="sr-only">Role</dt><dd class="text-xs text-zinc-500 dark:text-zinc-400">Junior developer(Contract)</dd>
                                            <dt class="sr-only">Date</dt>
                                            <dd class="ml-auto text-xs text-zinc-400 dark:text-zinc-500" aria-label="2014 until 2019">
                                              <time datetime="2014">August,2022</time> 
                                              <span aria-hidden="true">—</span> 
                                              <time datetime="2019">September, 2023</time>
                                            </dd>
                                          </dl>
                                        </li><li class="flex gap-4">
                                          <div class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                                            <img alt="" src="/images/edgeitsol.jpg" width="28" height="28" decoding="async"  class="h-7 w-7" loading="lazy" style="color:transparent"></div><dl class="flex flex-auto flex-wrap gap-x-2">
                                              <dt class="sr-only">Company</dt>
                                              <dd class="w-full flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100">Edgeitsol</dd><dt class="sr-only">Role</dt><dd class="text-xs text-zinc-500 dark:text-zinc-400">Junior Solutions Architect</dd><dt class="sr-only">Date</dt><dd class="ml-auto text-xs text-zinc-400 dark:text-zinc-500" aria-label="2011 until 2014"><time datetime="2011">May, 2021</time> <span aria-hidden="true">—</span> <time datetime="2014">October, 2021</time></dd></dl></li><li class="flex gap-4">

                                              </li>
                                            </ol>
                                            <a class="inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-zinc-50 font-medium text-zinc-900 hover:bg-zinc-100 active:bg-zinc-100 active:text-zinc-900/60 dark:bg-zinc-800/50 dark:text-zinc-300 dark:hover:bg-zinc-800 dark:hover:text-zinc-50 dark:active:bg-zinc-800/50 dark:active:text-zinc-50/70 group mt-6 w-full" href="/assets/telvin-varfley-cv.pdf" download="">Download CV
                                            <svg viewBox="0 0 16 16" fill="none" aria-hidden="true" class="h-4 w-4 stroke-zinc-400 transition group-active:stroke-zinc-600 dark:group-hover:stroke-zinc-50 dark:group-active:stroke-zinc-50">
                                              <path d="M4.75 8.75 8 12.25m0 0 3.25-3.5M8 12.25v-8.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</main>
<%- include('partials/footer') %> 

</div>   
 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.132/dist/typed.umd.js"></script>
<script>
  // Typing animation
let typed = new Typed(".auto-type", {
  strings: ['^1000 Web Developer  ',' ^2000 UI/Ux Designer', ' ^2000 Graphic designer'],
  typedSpeed: 150,
  backSpeed: 150,
  loop: true
})
</script>
<script src="/js/script.js"></script>
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" ></script>
</body>
</html>